
:root{
    --primary-color: #172755;
    --secundary-color:#EF2A82;
    --font-color:#8794BA;
}
.body{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 60px;
}
.info__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 335px;
}
.text{
    width: 335px;
}
.title{
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}
.paragraph{
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color);
}
.porcentaje{
    width: 335px;
}
@media(min-width:520px){
    .info__cards{
        width: 475px;
    }
    .text{
        width: 475px;
    }
    .title{
        font-size: 35px;
        line-height: 47px;
    }
    .paragraph{
        font-size: 17px;
    }
    .porcentaje{
        width: 400px;
    }
}
@media (min-width:768px){
    .info__cards{
        width: 750px;
    }
    .porcentaje{
        width: 600px;
    }
    .text{
        width: 750px;
    }
    .title{
        font-size: 35px;
        line-height: 47px;
    }
    .paragraph{
        font-size: 17px;
    }
}
@media (min-width:1024px){
    .container{
        gap: 80px;
    }
    .info__cards{
        width: 950px;
        height: 410px;
        flex-direction: row;
    }
    .--reverse{
        flex-direction: row-reverse;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 480px;
        height: 240px;
    }
    .title{
        font-size: 40px;
        line-height: 47px;
    }
    .paragraph{
        font-size: 18px;
    }
}
@media (min-width:1300px){
    .info__cards{
        width: 1100px;
    }
}
@media (min-width:1600px){
    .container{
        width: 1180px;
        gap: 120px;
    }
    .info__cards{
        width: 1180px;
        justify-content: space-between;
    }
    .--reverse{
        flex-direction: row-reverse;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 480px;
        height: 240px;
    }
    .title{
        font-size: 40px;
        line-height: 47px;
    }
    .paragraph{
        font-size: 18px;
    }
    
}